In [4]:
import pandas as pd;
print('Radheshyam kumar singh')

Radheshyam kumar singh

In [11]:
def fun():
    a=1
    print('Hi')
    print(hex(a))
    print(hex(id(a)))
fun()

Hi
0x1
0x7ff85e6ce328

In [12]:
df = pd.read_csv('GDP.csv')

,Unnamed: 0,Gross domestic product 2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(millions of,NaN
2,NaN,Ranking,NaN,Economy,US dollars),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,1,NaN,United States,"2,54,62,700",NaN
...,...,...,...,...,...,...
233,SSF,NaN,NaN,Sub-Saharan Africa,"20,47,347",NaN
234,LIC,NaN,NaN,Low income,"5,21,634",NaN
235,LMC,NaN,NaN,Lower middle income,"81,09,650",NaN
236,UMC,NaN,NaN,Upper middle income,"3,04,95,972",NaN
237,HIC,NaN,NaN,High income,"6,15,35,769",NaN

In [4]:
import matplotlib.pyplot as plt
import pandas as pd;
dec = {'A':[i for i in range(1,10)],'B':[i for i in range(1,10)]}
df = pd.DataFrame(dec)#set_index('A')
# print(df)
df['C']=[i for i in range(1,10)]
# print(df)
# adding two column in 
df['D'] = df['B']+df['C']
# print(df)
df['E']=df['A']+df['B']+df['C']+df['D']
# print(df)
lst=list(filter(lambda x:x>=10 ,df['E']))
# print(len(df['E']))
for i in range(len(lst),len(df['E'])):
    lst.append(-1)
df['F']=lst
# print(df)
# plt.plot(df)
# del df['A']
# print(df)
# df.reset_index(drop=True)
df.reset_index(drop=True)
print(df)

   A  B  C   D   E   F
0  1  1  1   2   5  10
1  2  2  2   4  10  15
2  3  3  3   6  15  20
3  4  4  4   8  20  25
4  5  5  5  10  25  30
5  6  6  6  12  30  35
6  7  7  7  14  35  40
7  8  8  8  16  40  45
8  9  9  9  18  45  -1

In [10]:
import pandas as pd;
a='Hello'
print(a)
df = pd.DataFrame({'A':[1,2,3,4]})
df = df.set_index([pd.Index(['student-1', 'student-2', 'student-3', 'student-4'])])
print(df)
print('df type = ',type(df))

Hello
           A
student-1  1
student-2  2
student-3  3
student-4  4
df type =  <class 'pandas.core.frame.DataFrame'>

In [19]:
import pandas as pd;
import numpy as np;
# pd.DataFrame()
print(pd.Series([1, 3, 5, np.nan, 6, 8]))

dates = pd.date_range("20130101", periods=6)
print(dates)
print(np.random.randn(6, 4))
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print(df)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
[[-0.04748424  0.74259323  0.63618144 -0.15057519]
 [ 0.53231648  1.89223236 -0.17956626  0.1173571 ]
 [-0.36120338  0.55254933 -0.29260505  0.71584025]
 [ 2.11531119  0.78021076  1.14820761 -0.03342839]
 [-1.15348779  0.16055984 -1.93808448  0.83156762]
 [ 0.83716923  0.06754028 -0.47454103 -0.65918968]]
                   A         B         C         D
2013-01-01  0.358385  2.553000 -0.326649  0.415906
2013-01-02 -0.320822 -1.050396 -2.074616 -0.189512
2013-01-03 -2.255541  0.240331 -2.125472 -0.897451
2013-01-04  1.057402  0.616332  1.630503 -0.969901
2013-01-05  0.758125 -1.077789  0.147759 -1.694064
2013-01-06  0.127019 -0.436185  0.495064  0.011628

**Series**
# Heading

In [24]:
# **Markdown** --> it will make bold
# *Italic* or _italic_
# __BOLD__ or **BOLD**
# # Heading 1
# ## Heading 2

# Heading 1
# =========

# Heading 2
# --------

**_PANDAS SERIES_**
# Series with list

In [26]:
import pandas as pd;
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Pandas Series with Dictionary

In [32]:
import pandas as pd;
dict_1 = {'Name':'Radheshyam','Status':'Married','Age':31}
print(pd.Series(dict_1))
# dictionary with list
print()
dict_2 = {'Member':[1,2,3,4,5],'Name':['Radhe','shyam', 'kumar','singh','Nikki','Kumari']}
print(pd.Series(dict_2))

Name      Radheshyam
Status       Married
Age               31
dtype: object

Member                                [1, 2, 3, 4, 5]
Name      [Radhe, shyam, kumar, singh, Nikki, Kumari]
dtype: object

# **_Pandas DataFrame_**

In [4]:
import pandas as pd;
print("Hello Nikki Devi")
lst = [i for i in range(1,11)]
df = pd.DataFrame(lst)
print(df)

Hello Nikki Devi
    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [6]:
import pandas as pd;
lst = [i for i in range(1,11)]
# dic = {k:val for k,val in enumerate(lst)}
# print(dic)
# df = pd.DataFrame(dic)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

# Series

In [5]:
import pandas as pd;
# print('Hello')
x = [i for i in range(1,10)]
var = pd.Series(x)
print(var)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

# Series With Multiple Arguments

In [3]:
import pandas as pd
x = [1,2,3,4,5]
print(x)
# Series with different index number
var = pd.Series(x,index=['a','b','c','d','e'])
print(var)

[1, 2, 3, 4, 5]
a    1
b    2
c    3
d    4
e    5
dtype: int64

# Series with multiple agrs and Series Name

In [1]:
import pandas as pd;
x = [1,2,3,4,5]
# Series with list, index and series name
Name='Python'
index_0=['r','a','d','h','e']
var = pd.Series(x,index=index_0,name=Name)
print(var)
# print(help(pd.Series))

r    1
a    2
d    3
h    4
e    5
Name: Python, dtype: int64

In [9]:
import pandas as pd;
print(dir(pd.Series))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [12]:
import pandas as pd;
x = (1,2,3,4,5)
Name='Radhe'
index1=[5,4,3,2,1]
var = pd.Series(x,index=index1,name=Name)
print(var)

5    1
4    2
3    3
2    4
1    5
Name: Radhe, dtype: int64

In [14]:
import pandas as pd;
# class pandas.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=False)
dic = {'a':1,'b':2,'c':3}
var = pd.Series(dic)
print(var)

a    1
b    2
c    3
dtype: int64

In [19]:
import pandas as pd;
dic = {'a':1,'b':2,'c':3}
index0 = [1,2,3]
Name='RADHE'
var = pd.Series(data=dic,name=Name)
print(var)

a    1
b    2
c    3
Name: RADHE, dtype: int64

In [12]:
import pandas as pd;
# x={'a':1}; # dictionary is not hashable
# print(hash(x)) # it will give an error because dictionary is not hashable
# x=(2,) # tuple is hashable
# x = {1,2,3} # set is not hashable
# x = [1,2,3,4] # list is not hashable
# x = 1.0 # float is hashable
# x = 'str' # string is hashable
# bool:x=1 # boolean is hashable
char:x='A' # char is hashable
print(hash(x))
# x.__hashable__()

938787426915715484

# DataFrame using list

In [6]:
import pandas as pd
l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]
# first argument is taking as column and second is as index
var1 = pd.DataFrame(l1,index=l2)
print(var1)

   0
4  1
5  2
6  3
7  4
8  5

# DataFrame using two list

In [9]:
import pandas as pd
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d','e']
var = pd.DataFrame(data=[l1,l2])
print(var)

   0  1  2  3  4
0  1  2  3  4  5
1  a  b  c  d  e

# DataFrame using Dictionary

In [7]:
import pandas as pd
dic = {'a0':[1,2,3,4,5],'b0':[4,5,6,7,8],'c0':[2,3,4,5,6]}
idx = ['a','b','c','d','e']
var = pd.DataFrame(data=dic,index=idx)
print(var)

   a0  b0  c0
a   1   4   2
b   2   5   3
c   3   6   4
d   4   7   5
e   5   8   6

# Extracting the data from Dataframe

In [5]:
import pandas as pd
dic = {'a0':[1,2,3,4,5],'b0':[6,7,8,9,0],'c0':[5,6,7,8,9]}
# print(dic)
df = pd.DataFrame(data=dic,columns=['a0'])
print(df)

   a0
0   1
1   2
2   3
3   4
4   5

In [8]:
import pandas as pd
dic = {'a0':[1,2,3,4,5],'b0':[3,4,5,6,7],'c0':[4,5,6,7,8]}
df = pd.DataFrame(data=dic,columns=['c0', 'a0'], index=[5,6,7,8,9])
print(df)
print(type(df))

   c0  a0
5   4   1
6   5   2
7   6   3
8   7   4
9   8   5
<class 'pandas.core.frame.DataFrame'>

In [9]:
import pandas as pd
dic = {'a0':[1,2,3,4,5],'b0':[3,4,5,6,7],'c0':[4,5,6,7,8]}
df = pd.DataFrame(data=dic, index=[5,6,7,8,9])
print(df['a0'])

5    1
6    2
7    3
8    4
9    5
Name: a0, dtype: int64

In [15]:
import pandas as pd
dic = {"a0":[1,2,3,4,5],"b0":[3,4,5,6,7],"c0":[4,5,6,7,8]}
df = pd.DataFrame(data=dic, index=[5,6,7,8,9])
print(df["a0"][7])

3

In [17]:
import pandas as pd
dic = {"a0":[1,2,3,4,5],"b0":[3,4,5,6,7],"c0":[4,5,6,7,8]}
df = pd.DataFrame(data=dic, index=[i for i in range(5)])
print(df["a0"][0])

1

# Arithmetic operation with DataFrame

In [20]:
import pandas as pd
dic = {"a0":[1,2,3,4,5],"b0":[4,5,6,7,8],"c0":[3,4,5,6,7]}
df = pd.DataFrame(data=dic)
print(df)
# adding another column to the DataFrame
df["d0"]=[1,3,4,7,8]
print(df)

   a0  b0  c0
0   1   4   3
1   2   5   4
2   3   6   5
3   4   7   6
4   5   8   7
   a0  b0  c0  d0
0   1   4   3   1
1   2   5   4   3
2   3   6   5   4
3   4   7   6   7
4   5   8   7   8

# Adding two columns to the DataFrame

In [33]:
import pandas as pd
dic = {'a':[3,4,2,5,1],'b':[4,5,6,1,2]}
# print()
df = pd.DataFrame(data=dic)
print(df)
df['add'] = df['a']+df['b']
print(df)

   a  b
0  3  4
1  4  5
2  2  6
3  5  1
4  1  2
   a  b  add
0  3  4    7
1  4  5    9
2  2  6    8
3  5  1    6
4  1  2    3

# Subtracting two columns to the DataFrame

In [26]:
import pandas as pd
dic = {'a':[1,2,3,4,5], 'b':[2,3,4,5,6]}
df = pd.DataFrame(data=dic)
df['sub']= df['b']-df['a']
print(df)

   a  b  sub
0  1  2    1
1  2  3    1
2  3  4    1
3  4  5    1
4  5  6    1

# Dividing two colums in DataFrame

In [29]:
import pandas as pd
dic = {'a':[2,3,4,5,6],'b':[5,4,3,6,2]}
df = pd.DataFrame(data=dic)
df['div']=df['b']/df['a']
print(df)

   a  b       div
0  2  5  2.500000
1  3  4  1.333333
2  4  3  0.750000
3  5  6  1.200000
4  6  2  0.333333

# Multiplying two columns in DataFrame

In [32]:
import pandas as pd
dic = {'a':[2,3,4,5,6],'b':[1,4,5,6,7]}
df = pd.DataFrame(data=dic)
print(df)
df['mul']=df['b']*df['a']
# New dataframe
print(df)

   a  b
0  2  1
1  3  4
2  4  5
3  5  6
4  6  7
   a  b  mul
0  2  1    2
1  3  4   12
2  4  5   20
3  5  6   30
4  6  7   42

# Comparision operator

In [44]:
import pandas as pd
dic = {'a':[1,2,3,4,5],'b':[3,4,5,6,7]}
df = pd.DataFrame(data=dic)
df["A >= 3"]=df['a']>=3
print(df)

   a  b  A >= 3
0  1  3   False
1  2  4   False
2  3  5    True
3  4  6    True
4  5  7    True

# Insert a value

In [45]:
import pandas as pd;
dic = {'a':[1,2,3,4,5],'b':[2,3,4,5,6]}
df = pd.DataFrame(data=dic)
print(df)
df['a'][0]=10
print(df)

   a  b
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6
    a  b
0  10  2
1   2  3
2   3  4
3   4  5
4   5  6

# Insert a columns using insert method

In [54]:
import pandas as pd
df = pd.DataFrame()
print(df)
# Using the insert function 
# It will insert at 0'th column
df.insert(0,"A",[1,2,3,4,5])
print(df)
# It will insert at 1'st index
df.insert(1,"B",[2,3,4,5,6])
print(df)

Empty DataFrame
Columns: []
Index: []
   A
0  1
1  2
2  3
3  4
4  5
   A  B
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

In [57]:
import pandas as pd;
df = pd.DataFrame()
df.insert(0,'A',[1,2,3,4,5])
df.insert(1,'C',[2,3,4,5,6])
print(df)
# it will insert the column after A and before C
df.insert(1,'B',[3,4,5,6,7])
print(df)

   A  C
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6
   A  B  C
0  1  3  2
1  2  4  3
2  3  5  4
3  4  6  5
4  5  7  6

In [60]:
import pandas as pd
dic ={'a':[1,2,3,4,5],'b':[3,4,5,6,7]}
df = pd.DataFrame(data=dic)
print(df)
# Inserting a column with slicing method
df['c']=df['a'][:3]
print(df)

   a  b
0  1  3
1  2  4
2  3  5
3  4  6
4  5  7
   a  b    c
0  1  3  1.0
1  2  4  2.0
2  3  5  3.0
3  4  6  NaN
4  5  7  NaN

# Delete the column

In [65]:
import pandas as pd;
dic = {'a':[1,2,3,4,5], 'b':[2,3,4,5,6],'c':[3,4,5,6,7]}
df = pd.DataFrame(data=dic,index=[i for i in "abcde"])
print(df)
del df['a']
# DataFrame after deleting column a
print(df)

   a  b  c
a  1  2  3
b  2  3  4
c  3  4  5
d  4  5  6
e  5  6  7
   b  c
a  2  3
b  3  4
c  4  5
d  5  6
e  6  7

In [68]:
import pandas as pd
dic = {'a':[i for i in range(1,6)],'b':[i+1 for i in range(1,6)]}
print(dic)

{'a': [1, 2, 3, 4, 5], 'b': [2, 3, 4, 5, 6]}

In [24]:
import pandas as pd
df = pd.DataFrame(index=['a0','b0','c0','d0','e0'])
print(df)
df.insert(0,'A',[i for i in range(1,6)])
print(df)
df.insert(1,'B',[i for i in range(1,6)])
print(df)
df['C']=df['B'][2:]
print(df)
df['D']=df['B'][1:]
print(df)
df['E']=df['B'][:4]
print(df)

Empty DataFrame
Columns: []
Index: [a0, b0, c0, d0, e0]
    A
a0  1
b0  2
c0  3
d0  4
e0  5
    A  B
a0  1  1
b0  2  2
c0  3  3
d0  4  4
e0  5  5
    A  B    C
a0  1  1  NaN
b0  2  2  NaN
c0  3  3  3.0
d0  4  4  4.0
e0  5  5  5.0
    A  B    C    D
a0  1  1  NaN  NaN
b0  2  2  NaN  2.0
c0  3  3  3.0  3.0
d0  4  4  4.0  4.0
e0  5  5  5.0  5.0
    A  B    C    D    E
a0  1  1  NaN  NaN  1.0
b0  2  2  NaN  2.0  2.0
c0  3  3  3.0  3.0  3.0
d0  4  4  4.0  4.0  4.0
e0  5  5  5.0  5.0  NaN

# Creating a Data Frame using Series function

In [2]:
import pandas as pd
d = {'s':pd.Series([1,2,3,4,5]), 'r':pd.Series([6,7,8,9,0])}
df = pd.DataFrame(data=d)
print(df)

   s  r
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0

# Writing to CSV file

In [4]:
import pandas as pd
dic={'a':[i for i in range(1,6)],'b':[i for i in range(1,6)],'c':[i for i in range(1,6)]}
print(dic)
df = pd.DataFrame(data=dic)
df.to_csv('first.csv')

{'a': [1, 2, 3, 4, 5], 'b': [1, 2, 3, 4, 5], 'c': [1, 2, 3, 4, 5]}

In [10]:
import pandas as pd
# Dropping index in csv file
dic = {'a':[i for i in range(1,6)],'b':[i for i in range(1,6)],'c':[i for i in range(1,6)]}
df = pd.DataFrame(data=dic)
df.to_csv('CsvWithOutIdx.csv',index=False)

In [9]:
# Changing the header
# Dropping index in csv file
import pandas as pd
dic = {'a':[i for i in range(1,6)],'b':[i for i in range(1,6)],'c':[i for i in range(1,6)]}
df = pd.DataFrame(data=dic)
df.to_csv('CsvWithOutIdx1.csv',index=False,header=False)

In [12]:
# Changing the header
# Dropping index in csv file
import pandas as pd
dic = {'a':[i for i in range(1,6)],'b':[i for i in range(1,6)],'c':[i for i in range(1,6)]}
df = pd.DataFrame(data=dic)
df.to_csv('CsvWithOutIdx2.csv',index=False,header=['Radhe','Shyam','Nikki'])

In [2]:
import pandas as pd
First_Csv = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(First_Csv)

    Unnamed: 0 Gross domestic product 2022  Unnamed: 2           Unnamed: 3  \
0          NaN                         NaN         NaN                  NaN
1          NaN                         NaN         NaN                  NaN
2          NaN                     Ranking         NaN              Economy
3          NaN                         NaN         NaN                  NaN
4          USA                           1         NaN        United States
..         ...                         ...         ...                  ...
233        SSF                         NaN         NaN   Sub-Saharan Africa
234        LIC                         NaN         NaN           Low income
235        LMC                         NaN         NaN  Lower middle income
236        UMC                         NaN         NaN  Upper middle income
237        HIC                         NaN         NaN          High income

       Unnamed: 4 Unnamed: 5
0             NaN        NaN
1    (millions of        NaN
2     US dollars)        NaN
3             NaN        NaN
4     2,54,62,700        NaN
..            ...        ...
233     20,47,347        NaN
234      5,21,634        NaN
235     81,09,650        NaN
236   3,04,95,972        NaN
237   6,15,35,769        NaN

[238 rows x 6 columns]

In [8]:
import pandas as pd
# To get the first row data
csv_1 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',nrows=1)
print(csv_1)

  Country Name  Ranking        Economy millions of US dollars
0          USA        1  United States            2,54,62,700

In [12]:
# To get the column data
import pandas as pd
csv_2 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=['millions of US dollars'])
print(csv_2)

    millions of US dollars
0              2,54,62,700
1              1,79,63,171
2                42,31,141
3                40,72,192
4                33,85,090
..                     ...
229              20,47,347
230               5,21,634
231              81,09,650
232            3,04,95,972
233            6,15,35,769

[234 rows x 1 columns]

In [14]:
# To get the value from 2 columns
import pandas as pd
csv_3=pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=['Economy','millions of US dollars'])
print(csv_3)

                 Economy millions of US dollars
0          United States            2,54,62,700
1                  China            1,79,63,171
2                  Japan              42,31,141
3                Germany              40,72,192
4                  India              33,85,090
..                   ...                    ...
229   Sub-Saharan Africa              20,47,347
230           Low income               5,21,634
231  Lower middle income              81,09,650
232  Upper middle income            3,04,95,972
233          High income            6,15,35,769

[234 rows x 2 columns]

In [23]:
# To get the column by using index numnber
import pandas as pd
csv_4 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[0])
print(csv_4)
csv_5 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[0,1])
print(csv_5)
csv_6 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[0,1],skiprows=1)
print(csv_6)
csv_7 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[0,1],skiprows=[1])
print(csv_7)
csv_8 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[0,1],skiprows=[1,3])
print(csv_8)

    Country Name
0            USA
1            CHN
2            JPN
3            DEU
4            IND
..           ...
229          SSF
230          LIC
231          LMC
232          UMC
233          HIC

[234 rows x 1 columns]
    Country Name  Ranking
0            USA      1.0
1            CHN      2.0
2            JPN      3.0
3            DEU      4.0
4            IND      5.0
..           ...      ...
229          SSF      NaN
230          LIC      NaN
231          LMC      NaN
232          UMC      NaN
233          HIC      NaN

[234 rows x 2 columns]
     USA    1
0    CHN  2.0
1    JPN  3.0
2    DEU  4.0
3    IND  5.0
4    GBR  6.0
..   ...  ...
228  SSF  NaN
229  LIC  NaN
230  LMC  NaN
231  UMC  NaN
232  HIC  NaN

[233 rows x 2 columns]
    Country Name  Ranking
0            CHN      2.0
1            JPN      3.0
2            DEU      4.0
3            IND      5.0
4            GBR      6.0
..           ...      ...
228          SSF      NaN
229          LIC      NaN
230          LMC      NaN
231          UMC      NaN
232          HIC      NaN

[233 rows x 2 columns]
    Country Name  Ranking
0            CHN      2.0
1            DEU      4.0
2            IND      5.0
3            GBR      6.0
4            FRA      7.0
..           ...      ...
227          SSF      NaN
228          LIC      NaN
229          LMC      NaN
230          UMC      NaN
231          HIC      NaN

[232 rows x 2 columns]

In [31]:
import pandas as pd
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# print(type(df))
print(df.index)
print(df.columns)
print(df.describe())

RangeIndex(start=0, stop=234, step=1)
Index(['Country Name', 'Ranking', 'Economy', 'millions of US dollars'], dtype='object')
          Ranking
count  209.000000
mean   105.000000
std     60.477268
min      1.000000
25%     53.000000
50%    105.000000
75%    157.000000
max    209.000000

In [33]:
# Slicing the dataframe
import pandas as pd
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df[:10])

  Country Name  Ranking             Economy millions of US dollars
0          USA      1.0       United States            2,54,62,700
1          CHN      2.0               China            1,79,63,171
2          JPN      3.0               Japan              42,31,141
3          DEU      4.0             Germany              40,72,192
4          IND      5.0               India              33,85,090
5          GBR      6.0      United Kingdom              30,70,668
6          FRA      7.0              France              27,82,905
7          RUS      8.0  Russian Federation              22,40,422
8          CAN      9.0              Canada              21,39,840
9          ITA     10.0               Italy              20,10,432

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# print("Hello")
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df["Ranking"][:10])

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
Name: Ranking, dtype: float64

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# print(df["millions of US dollars"][:20])
print(df.head()["millions of US dollars"])

0    2,54,62,700
1    1,79,63,171
2      42,31,141
3      40,72,192
4      33,85,090
Name: millions of US dollars, dtype: object

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.tail())

    Country Name  Ranking              Economy millions of US dollars
229          SSF      NaN   Sub-Saharan Africa              20,47,347
230          LIC      NaN           Low income               5,21,634
231          LMC      NaN  Lower middle income              81,09,650
232          UMC      NaN  Upper middle income            3,04,95,972
233          HIC      NaN          High income            6,15,35,769

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',nrows=2)
print(df)

  Country Name  Ranking        Economy millions of US dollars
0          USA        1  United States            2,54,62,700
1          CHN        2          China            1,79,63,171

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',nrows=5)
print(df)

  Country Name  Ranking        Economy millions of US dollars
0          USA        1  United States            2,54,62,700
1          CHN        2          China            1,79,63,171
2          JPN        3          Japan              42,31,141
3          DEU        4        Germany              40,72,192
4          IND        5          India              33,85,090

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=["Country Name","Ranking"],nrows=10)
print(df)

  Country Name  Ranking
0          USA        1
1          CHN        2
2          JPN        3
3          DEU        4
4          IND        5
5          GBR        6
6          FRA        7
7          RUS        8
8          CAN        9
9          ITA       10

In [21]:
# using the column indexes
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[0,1,2,3],nrows=10)
print(df,end="\n\n")
df1 = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[1,3,2],nrows=5)
print(df)

  Country Name  Ranking             Economy millions of US dollars
0          USA        1       United States            2,54,62,700
1          CHN        2               China            1,79,63,171
2          JPN        3               Japan              42,31,141
3          DEU        4             Germany              40,72,192
4          IND        5               India              33,85,090
5          GBR        6      United Kingdom              30,70,668
6          FRA        7              France              27,82,905
7          RUS        8  Russian Federation              22,40,422
8          CAN        9              Canada              21,39,840
9          ITA       10               Italy              20,10,432

  Country Name  Ranking             Economy millions of US dollars
0          USA        1       United States            2,54,62,700
1          CHN        2               China            1,79,63,171
2          JPN        3               Japan              42,31,141
3          DEU        4             Germany              40,72,192
4          IND        5               India              33,85,090
5          GBR        6      United Kingdom              30,70,668
6          FRA        7              France              27,82,905
7          RUS        8  Russian Federation              22,40,422
8          CAN        9              Canada              21,39,840
9          ITA       10               Italy              20,10,432

In [26]:
# skip rows
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',skiprows=[0])
print(df)

     USA    1        United States  2,54,62,700
0    CHN  2.0                China  1,79,63,171
1    JPN  3.0                Japan    42,31,141
2    DEU  4.0              Germany    40,72,192
3    IND  5.0                India    33,85,090
4    GBR  6.0       United Kingdom    30,70,668
..   ...  ...                  ...          ...
228  SSF  NaN   Sub-Saharan Africa    20,47,347
229  LIC  NaN           Low income     5,21,634
230  LMC  NaN  Lower middle income    81,09,650
231  UMC  NaN  Upper middle income  3,04,95,972
232  HIC  NaN          High income  6,15,35,769

[233 rows x 4 columns]

In [27]:
# To se the index
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',index_col="Country Name")
print(df)

              Ranking              Economy millions of US dollars
Country Name
USA               1.0        United States            2,54,62,700
CHN               2.0                China            1,79,63,171
JPN               3.0                Japan              42,31,141
DEU               4.0              Germany              40,72,192
IND               5.0                India              33,85,090
...               ...                  ...                    ...
SSF               NaN   Sub-Saharan Africa              20,47,347
LIC               NaN           Low income               5,21,634
LMC               NaN  Lower middle income              81,09,650
UMC               NaN  Upper middle income            3,04,95,972
HIC               NaN          High income            6,15,35,769

[234 rows x 3 columns]

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, 
# header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, dtype=None, 
# engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, 
# skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True,
# parse_dates=None, infer_datetime_format=_NoDefault.no_default, keep_date_col=False, date_parser=_NoDefault.no_default, 
# date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', 
# thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, 
# encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=False, low_memory=True, memory_map=False, 
# float_precision=None, storage_options=None, dtype_backend=_NoDefault.no_default)
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv',usecols=[3,2])
print(df)

                 Economy millions of US dollars
0          United States            2,54,62,700
1                  China            1,79,63,171
2                  Japan              42,31,141
3                Germany              40,72,192
4                  India              33,85,090
..                   ...                    ...
229   Sub-Saharan Africa              20,47,347
230           Low income               5,21,634
231  Lower middle income              81,09,650
232  Upper middle income            3,04,95,972
233          High income            6,15,35,769

[234 rows x 2 columns]

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.index.array)

<PandasArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 224, 225, 226, 227, 228, 229, 230, 231, 232, 233]
Length: 234, dtype: int64

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
df.to_numpy()

array([['USA', 1.0, 'United States', '2,54,62,700'],
       ['CHN', 2.0, 'China', '1,79,63,171'],
       ['JPN', 3.0, 'Japan', '42,31,141'],
       ['DEU', 4.0, 'Germany', '40,72,192'],
       ['IND', 5.0, 'India', '33,85,090'],
       ['GBR', 6.0, 'United Kingdom', '30,70,668'],
       ['FRA', 7.0, 'France', '27,82,905'],
       ['RUS', 8.0, 'Russian Federation', '22,40,422'],
       ['CAN', 9.0, 'Canada', '21,39,840'],
       ['ITA', 10.0, 'Italy', '20,10,432'],
       ['BRA', 11.0, 'Brazil', '19,20,096'],
       ['AUS', 12.0, 'Australia', '16,75,419'],
       ['KOR', 13.0, 'Korea, Rep.', '16,65,246'],
       ['MEX', 14.0, 'Mexico', '14,14,187'],
       ['ESP', 15.0, 'Spain', '13,97,509'],
       ['IDN', 16.0, 'Indonesia', '13,19,100'],
       ['SAU', 17.0, 'Saudi Arabia', '11,08,149'],
       ['NLD', 18.0, 'Netherlands', '9,91,115'],
       ['TUR', 19.0, 'TÃ¼rkiye', '9,05,988'],
       ['CHE', 20.0, 'Switzerland', '8,07,706'],
       ['POL', 21.0, 'Poland', '6,88,177'],
       ['ARG', 22.0, 'Argentina', '6,32,770'],
       ['SWE', 23.0, 'Sweden', '5,85,939'],
       ['NOR', 24.0, 'Norway', '5,79,267'],
       ['BEL', 25.0, 'Belgium', '5,78,604'],
       ['CUB', 26.0, 'Cuba', '5,45,218'],
       ['IRL', 27.0, 'Ireland', '5,29,245'],
       ['ISR', 28.0, 'Israel', '5,22,033'],
       ['ARE', 29.0, 'United Arab Emirates', '5,07,535'],
       ['THA', 30.0, 'Thailand', '4,95,341'],
       ['NGA', 31.0, 'Nigeria', '4,77,386'],
       ['EGY', 32.0, 'Egypt, Arab Rep.', '4,76,748'],
       ['AUT', 33.0, 'Austria', '4,71,400'],
       ['SGP', 34.0, 'Singapore', '4,66,789'],
       ['BGD', 35.0, 'Bangladesh', '4,60,201'],
       ['VNM', 36.0, 'Vietnam', '4,08,802'],
       ['MYS', 37.0, 'Malaysia', '4,06,306'],
       ['ZAF', 38.0, 'South Africa', '4,05,870'],
       ['PHL', 39.0, 'Philippines', '4,04,284'],
       ['DNK', 40.0, 'Denmark', '3,95,404'],
       ['IRN', 41.0, 'Iran, Islamic Rep.', '3,88,544'],
       ['PAK', 42.0, 'Pakistan', '3,76,533'],
       ['HKG', 43.0, 'Hong Kong SAR, China', '3,59,839'],
       ['COL', 44.0, 'Colombia', '3,43,939'],
       ['ROU', 45.0, 'Romania', '3,01,262'],
       ['CHL', 46.0, 'Chile', '3,01,025'],
       ['CZE', 47.0, 'Czech Republic', '2,90,924'],
       ['FIN', 48.0, 'Finland', '2,80,826'],
       ['IRQ', 49.0, 'Iraq', '2,64,182'],
       ['PRT', 50.0, 'Portugal', '2,51,945'],
       ['NZL', 51.0, 'New Zealand', '2,47,234'],
       ['PER', 52.0, 'Peru', '2,42,632'],
       ['QAT', 53.0, 'Qatar', '2,37,296'],
       ['KAZ', 54.0, 'Kazakhstan', '2,20,623'],
       ['GRC', 55.0, 'Greece', '2,19,066'],
       ['DZA', 56.0, 'Algeria', '1,91,913'],
       ['KWT', 57.0, 'Kuwait', '1,84,558'],
       ['HUN', 58.0, 'Hungary', '1,78,789'],
       ['UKR', 59.0, 'Ukraine', '1,60,503'],
       ['MAR', 60.0, 'Morocco', '1,34,182'],
       ['ETH', 61.0, 'Ethiopia', '1,26,783'],
       ['SVK', 62.0, 'Slovak Republic', '1,15,469'],
       ['ECU', 63.0, 'Ecuador', '1,15,049'],
       ['OMN', 64.0, 'Oman', '1,14,667'],
       ['DOM', 65.0, 'Dominican Republic', '1,13,642'],
       ['PRI', 66.0, 'Puerto Rico', '1,13,435'],
       ['KEN', 67.0, 'Kenya', '1,13,420'],
       ['AGO', 68.0, 'Angola', '1,06,714'],
       ['GTM', 69.0, 'Guatemala', '95,003'],
       ['BGR', 70.0, 'Bulgaria', '89,040'],
       ['LUX', 71.0, 'Luxembourg', '82,275'],
       ['UZB', 72.0, 'Uzbekistan', '80,392'],
       ['AZE', 73.0, 'Azerbaijan', '78,721'],
       ['PAN', 74.0, 'Panama', '76,523'],
       ['TZA', 75.0, 'Tanzania', '75,709'],
       ['LKA', 76.0, 'Sri Lanka', '74,404'],
       ['GHA', 77.0, 'Ghana', '72,839'],
       ['BLR', 78.0, 'Belarus', '72,793'],
       ['URY', 79.0, 'Uruguay', '71,177'],
       ['HRV', 80.0, 'Croatia', '70,965'],
       ['LTU', 81.0, 'Lithuania', '70,334'],
       ['CIV', 82.0, "CÃ´te d'Ivoire", '70,019'],
       ['CRI', 83.0, 'Costa Rica', '68,381'],
       ['SRB', 84.0, 'Serbia', '63,502'],
       ['SVN', 85.0, 'Slovenia', '62,118'],
       ['MMR', 86.0, 'Myanmar', '59,364'],
       ['COD', 87.0, 'Congo, Dem. Rep.', '58,066'],
       ['SDN', 88.0, 'Sudan', '51,662'],
       ['JOR', 89.0, 'Jordan', '47,451'],
       ['TUN', 90.0, 'Tunisia', '46,665'],
       ['LBY', 91.0, 'Libya', '45,752'],
       ['TKM', 92.0, 'Turkmenistan', '45,611'],
       ['UGA', 93.0, 'Uganda', '45,559'],
       ['BHR', 94.0, 'Bahrain', '44,391'],
       ['CMR', 95.0, 'Cameroon', '44,342'],
       ['BOL', 96.0, 'Bolivia', '43,069'],
       ['PRY', 97.0, 'Paraguay', '41,722'],
       ['LVA', 98.0, 'Latvia', '41,154'],
       ['NPL', 99.0, 'Nepal', '40,828'],
       ['EST', 100.0, 'Estonia', '38,101'],
       ['SLV', 101.0, 'El Salvador', '32,489'],
       ['HND', 102.0, 'Honduras', '31,718'],
       ['PNG', 103.0, 'Papua New Guinea', '30,633'],
       ['KHM', 104.0, 'Cambodia', '29,957'],
       ['ZMB', 105.0, 'Zambia', '29,784'],
       ['CYP', 106.0, 'Cyprus', '28,439'],
       ['TTO', 107.0, 'Trinidad and Tobago', '27,899'],
       ['ISL', 108.0, 'Iceland', '27,842'],
       ['SEN', 109.0, 'Senegal', '27,684'],
       ['GEO', 110.0, 'Georgia', '24,605'],
       ['BIH', 111.0, 'Bosnia and Herzegovina', '24,528'],
       ['LBN', 112.0, 'Lebanon', '23,132'],
       ['MAC', 113.0, 'Macao SAR, China', '21,979'],
       ['GIN', 114.0, 'Guinea', '21,228'],
       ['GAB', 115.0, 'Gabon', '21,072'],
       ['ZWE', 116.0, 'Zimbabwe', '20,678'],
       ['BWA', 117.0, 'Botswana', '20,352'],
       ['HTI', 118.0, 'Haiti', '20,254'],
       ['ARM', 119.0, 'Armenia', '19,503'],
       ['PSE', 120.0, 'West Bank and Gaza', '19,112'],
       ['BFA', 121.0, 'Burkina Faso', '18,885'],
       ['ALB', 122.0, 'Albania', '18,882'],
       ['MLI', 123.0, 'Mali', '18,827'],
       ['MOZ', 124.0, 'Mozambique', '17,851'],
       ['MLT', 125.0, 'Malta', '17,765'],
       ['BEN', 126.0, 'Benin', '17,402'],
       ['JAM', 127.0, 'Jamaica', '17,098'],
       ['MNG', 128.0, 'Mongolia', '16,811'],
       ['BRN', 129.0, 'Brunei Darussalam', '16,682'],
       ['LAO', 130.0, 'Lao PDR', '15,724'],
       ['NIC', 131.0, 'Nicaragua', '15,672'],
       ['GUY', 132.0, 'Guyana', '15,358'],
       ['MDG', 133.0, 'Madagascar', '14,955'],
       ['COG', 134.0, 'Congo, Rep.', '14,616'],
       ['AFG', 135.0, 'Afghanistan', '14,583'],
       ['MDA', 136.0, 'Moldova', '14,421'],
       ['NER', 137.0, 'Niger', '13,970'],
       ['MKD', 138.0, 'North Macedonia', '13,563'],
       ['RWA', 139.0, 'Rwanda', '13,313'],
       ['MWI', 140.0, 'Malawi', '13,165'],
       ['MUS', 141.0, 'Mauritius', '12,898'],
       ['BHS', 142.0, 'Bahamas, The', '12,897'],
       ['TCD', 143.0, 'Chad', '12,704'],
       ['NAM', 144.0, 'Namibia', '12,607'],
       ['GNQ', 145.0, 'Equatorial Guinea', '11,814'],
       ['CHI', 146.0, 'Channel Islands', '11,736'],
       ['SYR', 147.0, 'Syrian Arab Republic', '11,159'],
       ['KGZ', 148.0, 'Kyrgyz Republic', '10,931'],
       ['TJK', 149.0, 'Tajikistan', '10,492'],
       ['MRT', 150.0, 'Mauritania', '10,375'],
       ['NCL', 151.0, 'New Caledonia', '10,071'],
       ['XKX', 152.0, 'Kosovo', '9,429'],
       ['MCO', 153.0, 'Monaco', '8,596'],
       ['TGO', 154.0, 'Togo', '8,126'],
       ['SOM', 155.0, 'Somalia', '8,126'],
       ['BMU', 156.0, 'Bermuda', '7,551'],
       ['LIE', 157.0, 'Liechtenstein', '7,186'],
       ['IMN', 158.0, 'Isle of Man', '6,684'],
       ['MDV', 159.0, 'Maldives', '6,190'],
       ['GUM', 160.0, 'Guam', '6,123'],
       ['MNE', 161.0, 'Montenegro', '6,096'],
       ['PYF', 162.0, 'French Polynesia', '6,080'],
       ['CYM', 163.0, 'Cayman Islands', '6,028'],
       ['BRB', 164.0, 'Barbados', '5,638'],
       ['FJI', 165.0, 'Fiji', '4,943'],
       ['SWZ', 166.0, 'Eswatini', '4,854'],
       ['VIR', 167.0, 'Virgin Islands (U.S.)', '4,204'],
       ['LBR', 168.0, 'Liberia', '4,001'],
       ['SLE', 169.0, 'Sierra Leone', '3,970'],
       ['FRO', 170.0, 'Faroe Islands', '3,650'],
       ['SUR', 171.0, 'Suriname', '3,621'],
       ['DJI', 172.0, 'Djibouti', '3,515'],
       ['AND', 173.0, 'Andorra', '3,352'],
       ['GRL', 174.0, 'Greenland', '3,236'],
       ['TLS', 175.0, 'Timor-Leste', '3,163'],
       ['ABW', 176.0, 'Aruba', '3,126'],
       ['BDI', 177.0, 'Burundi', '3,073'],
       ['BLZ', 178.0, 'Belize', '2,824'],
       ['CUW', 179.0, 'CuraÃ§ao', '2,700'],
       ['LSO', 180.0, 'Lesotho', '2,553'],
       ['BTN', 181.0, 'Bhutan', '2,540'],
       ['CAF', 182.0, 'Central African Republic', '2,383'],
       ['CPV', 183.0, 'Cabo Verde', '2,315'],
       ['GMB', 184.0, 'Gambia, The', '2,273'],
       ['LCA', 185.0, 'St. Lucia', '2,065'],
       ['SMR', 186.0, 'San Marino', '1,855'],
       ['ATG', 187.0, 'Antigua and Barbuda', '1,758'],
       ['GNB', 188.0, 'Guinea-Bissau', '1,634'],
       ['SLB', 189.0, 'Solomon Islands', '1,596'],
       ['SYC', 190.0, 'Seychelles', '1,588'],
       ['SXM', 191.0, 'Sint Maarten (Dutch part)', '1,572'],
       ['GRD', 192.0, 'Grenada', '1,256'],
       ['COM', 193.0, 'Comoros', '1,243'],
       ['TCA', 194.0, 'Turks and Caicos Islands', '1,139'],
       ['VUT', 195.0, 'Vanuatu', '984'],
       ['KNA', 196.0, 'St. Kitts and Nevis', '962'],
       ['VCT', 197.0, 'St. Vincent and the Grenadines', '949'],
       ['MNP', 198.0, 'Northern Mariana Islands', '858'],
       ['WSM', 199.0, 'Samoa', '832'],
       ['ASM', 200.0, 'American Samoa', '709'],
       ['DMA', 201.0, 'Dominica', '612'],
       ['STP', 202.0, 'SÃ£o TomÃ© and Principe', '547'],
       ['TON', 203.0, 'Tonga', '469'],
       ['FSM', 204.0, 'Micronesia, Fed. Sts.', '427'],
       ['MHL', 205.0, 'Marshall Islands', '280'],
       ['KIR', 206.0, 'Kiribati', '223'],
       ['PLW', 207.0, 'Palau', '218'],
       ['NRU', 208.0, 'Nauru', '151'],
       ['TUV', 209.0, 'Tuvalu', '60'],
       ['VGB', nan, 'British Virgin Islands', ' -   '],
       ['ERI', nan, 'Eritrea', ' -   '],
       ['GIB', nan, 'Gibraltar', ' -   '],
       ['PRK', nan, "Korea, Dem. People's Rep.", ' -   '],
       ['SSD', nan, 'South Sudan', ' -   '],
       ['MAF', nan, 'St. Martin (French part)', ' -   '],
       ['VEN', nan, 'Venezuela, RB', ' -   '],
       ['YEM', nan, 'Yemen, Rep.', ' -   '],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       ['WLD', nan, 'World', '10,10,02,997'],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       ['EAS', nan, 'East Asia & Pacific', '3,06,55,246'],
       ['ECS', nan, 'Europe & Central Asia', '2,51,92,038'],
       ['LCN', nan, 'Latin America & Caribbean', '67,48,778'],
       ['MEA', nan, 'Middle East & North Africa', '44,14,423'],
       ['NAC', nan, 'North America', '2,76,10,091'],
       ['SAS', nan, 'South Asia', '43,61,631'],
       ['SSF', nan, 'Sub-Saharan Africa', '20,47,347'],
       ['LIC', nan, 'Low income', '5,21,634'],
       ['LMC', nan, 'Lower middle income', '81,09,650'],
       ['UMC', nan, 'Upper middle income', '3,04,95,972'],
       ['HIC', nan, 'High income', '6,15,35,769']], dtype=object)

In [8]:
# np array
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
np_df = np.asarray(df)
print(np_df)

[['USA' 1.0 'United States' '2,54,62,700']
 ['CHN' 2.0 'China' '1,79,63,171']
 ['JPN' 3.0 'Japan' '42,31,141']
 ['DEU' 4.0 'Germany' '40,72,192']
 ['IND' 5.0 'India' '33,85,090']
 ['GBR' 6.0 'United Kingdom' '30,70,668']
 ['FRA' 7.0 'France' '27,82,905']
 ['RUS' 8.0 'Russian Federation' '22,40,422']
 ['CAN' 9.0 'Canada' '21,39,840']
 ['ITA' 10.0 'Italy' '20,10,432']
 ['BRA' 11.0 'Brazil' '19,20,096']
 ['AUS' 12.0 'Australia' '16,75,419']
 ['KOR' 13.0 'Korea, Rep.' '16,65,246']
 ['MEX' 14.0 'Mexico' '14,14,187']
 ['ESP' 15.0 'Spain' '13,97,509']
 ['IDN' 16.0 'Indonesia' '13,19,100']
 ['SAU' 17.0 'Saudi Arabia' '11,08,149']
 ['NLD' 18.0 'Netherlands' '9,91,115']
 ['TUR' 19.0 'TÃ¼rkiye' '9,05,988']
 ['CHE' 20.0 'Switzerland' '8,07,706']
 ['POL' 21.0 'Poland' '6,88,177']
 ['ARG' 22.0 'Argentina' '6,32,770']
 ['SWE' 23.0 'Sweden' '5,85,939']
 ['NOR' 24.0 'Norway' '5,79,267']
 ['BEL' 25.0 'Belgium' '5,78,604']
 ['CUB' 26.0 'Cuba' '5,45,218']
 ['IRL' 27.0 'Ireland' '5,29,245']
 ['ISR' 28.0 'Israel' '5,22,033']
 ['ARE' 29.0 'United Arab Emirates' '5,07,535']
 ['THA' 30.0 'Thailand' '4,95,341']
 ['NGA' 31.0 'Nigeria' '4,77,386']
 ['EGY' 32.0 'Egypt, Arab Rep.' '4,76,748']
 ['AUT' 33.0 'Austria' '4,71,400']
 ['SGP' 34.0 'Singapore' '4,66,789']
 ['BGD' 35.0 'Bangladesh' '4,60,201']
 ['VNM' 36.0 'Vietnam' '4,08,802']
 ['MYS' 37.0 'Malaysia' '4,06,306']
 ['ZAF' 38.0 'South Africa' '4,05,870']
 ['PHL' 39.0 'Philippines' '4,04,284']
 ['DNK' 40.0 'Denmark' '3,95,404']
 ['IRN' 41.0 'Iran, Islamic Rep.' '3,88,544']
 ['PAK' 42.0 'Pakistan' '3,76,533']
 ['HKG' 43.0 'Hong Kong SAR, China' '3,59,839']
 ['COL' 44.0 'Colombia' '3,43,939']
 ['ROU' 45.0 'Romania' '3,01,262']
 ['CHL' 46.0 'Chile' '3,01,025']
 ['CZE' 47.0 'Czech Republic' '2,90,924']
 ['FIN' 48.0 'Finland' '2,80,826']
 ['IRQ' 49.0 'Iraq' '2,64,182']
 ['PRT' 50.0 'Portugal' '2,51,945']
 ['NZL' 51.0 'New Zealand' '2,47,234']
 ['PER' 52.0 'Peru' '2,42,632']
 ['QAT' 53.0 'Qatar' '2,37,296']
 ['KAZ' 54.0 'Kazakhstan' '2,20,623']
 ['GRC' 55.0 'Greece' '2,19,066']
 ['DZA' 56.0 'Algeria' '1,91,913']
 ['KWT' 57.0 'Kuwait' '1,84,558']
 ['HUN' 58.0 'Hungary' '1,78,789']
 ['UKR' 59.0 'Ukraine' '1,60,503']
 ['MAR' 60.0 'Morocco' '1,34,182']
 ['ETH' 61.0 'Ethiopia' '1,26,783']
 ['SVK' 62.0 'Slovak Republic' '1,15,469']
 ['ECU' 63.0 'Ecuador' '1,15,049']
 ['OMN' 64.0 'Oman' '1,14,667']
 ['DOM' 65.0 'Dominican Republic' '1,13,642']
 ['PRI' 66.0 'Puerto Rico' '1,13,435']
 ['KEN' 67.0 'Kenya' '1,13,420']
 ['AGO' 68.0 'Angola' '1,06,714']
 ['GTM' 69.0 'Guatemala' '95,003']
 ['BGR' 70.0 'Bulgaria' '89,040']
 ['LUX' 71.0 'Luxembourg' '82,275']
 ['UZB' 72.0 'Uzbekistan' '80,392']
 ['AZE' 73.0 'Azerbaijan' '78,721']
 ['PAN' 74.0 'Panama' '76,523']
 ['TZA' 75.0 'Tanzania' '75,709']
 ['LKA' 76.0 'Sri Lanka' '74,404']
 ['GHA' 77.0 'Ghana' '72,839']
 ['BLR' 78.0 'Belarus' '72,793']
 ['URY' 79.0 'Uruguay' '71,177']
 ['HRV' 80.0 'Croatia' '70,965']
 ['LTU' 81.0 'Lithuania' '70,334']
 ['CIV' 82.0 "CÃ´te d'Ivoire" '70,019']
 ['CRI' 83.0 'Costa Rica' '68,381']
 ['SRB' 84.0 'Serbia' '63,502']
 ['SVN' 85.0 'Slovenia' '62,118']
 ['MMR' 86.0 'Myanmar' '59,364']
 ['COD' 87.0 'Congo, Dem. Rep.' '58,066']
 ['SDN' 88.0 'Sudan' '51,662']
 ['JOR' 89.0 'Jordan' '47,451']
 ['TUN' 90.0 'Tunisia' '46,665']
 ['LBY' 91.0 'Libya' '45,752']
 ['TKM' 92.0 'Turkmenistan' '45,611']
 ['UGA' 93.0 'Uganda' '45,559']
 ['BHR' 94.0 'Bahrain' '44,391']
 ['CMR' 95.0 'Cameroon' '44,342']
 ['BOL' 96.0 'Bolivia' '43,069']
 ['PRY' 97.0 'Paraguay' '41,722']
 ['LVA' 98.0 'Latvia' '41,154']
 ['NPL' 99.0 'Nepal' '40,828']
 ['EST' 100.0 'Estonia' '38,101']
 ['SLV' 101.0 'El Salvador' '32,489']
 ['HND' 102.0 'Honduras' '31,718']
 ['PNG' 103.0 'Papua New Guinea' '30,633']
 ['KHM' 104.0 'Cambodia' '29,957']
 ['ZMB' 105.0 'Zambia' '29,784']
 ['CYP' 106.0 'Cyprus' '28,439']
 ['TTO' 107.0 'Trinidad and Tobago' '27,899']
 ['ISL' 108.0 'Iceland' '27,842']
 ['SEN' 109.0 'Senegal' '27,684']
 ['GEO' 110.0 'Georgia' '24,605']
 ['BIH' 111.0 'Bosnia and Herzegovina' '24,528']
 ['LBN' 112.0 'Lebanon' '23,132']
 ['MAC' 113.0 'Macao SAR, China' '21,979']
 ['GIN' 114.0 'Guinea' '21,228']
 ['GAB' 115.0 'Gabon' '21,072']
 ['ZWE' 116.0 'Zimbabwe' '20,678']
 ['BWA' 117.0 'Botswana' '20,352']
 ['HTI' 118.0 'Haiti' '20,254']
 ['ARM' 119.0 'Armenia' '19,503']
 ['PSE' 120.0 'West Bank and Gaza' '19,112']
 ['BFA' 121.0 'Burkina Faso' '18,885']
 ['ALB' 122.0 'Albania' '18,882']
 ['MLI' 123.0 'Mali' '18,827']
 ['MOZ' 124.0 'Mozambique' '17,851']
 ['MLT' 125.0 'Malta' '17,765']
 ['BEN' 126.0 'Benin' '17,402']
 ['JAM' 127.0 'Jamaica' '17,098']
 ['MNG' 128.0 'Mongolia' '16,811']
 ['BRN' 129.0 'Brunei Darussalam' '16,682']
 ['LAO' 130.0 'Lao PDR' '15,724']
 ['NIC' 131.0 'Nicaragua' '15,672']
 ['GUY' 132.0 'Guyana' '15,358']
 ['MDG' 133.0 'Madagascar' '14,955']
 ['COG' 134.0 'Congo, Rep.' '14,616']
 ['AFG' 135.0 'Afghanistan' '14,583']
 ['MDA' 136.0 'Moldova' '14,421']
 ['NER' 137.0 'Niger' '13,970']
 ['MKD' 138.0 'North Macedonia' '13,563']
 ['RWA' 139.0 'Rwanda' '13,313']
 ['MWI' 140.0 'Malawi' '13,165']
 ['MUS' 141.0 'Mauritius' '12,898']
 ['BHS' 142.0 'Bahamas, The' '12,897']
 ['TCD' 143.0 'Chad' '12,704']
 ['NAM' 144.0 'Namibia' '12,607']
 ['GNQ' 145.0 'Equatorial Guinea' '11,814']
 ['CHI' 146.0 'Channel Islands' '11,736']
 ['SYR' 147.0 'Syrian Arab Republic' '11,159']
 ['KGZ' 148.0 'Kyrgyz Republic' '10,931']
 ['TJK' 149.0 'Tajikistan' '10,492']
 ['MRT' 150.0 'Mauritania' '10,375']
 ['NCL' 151.0 'New Caledonia' '10,071']
 ['XKX' 152.0 'Kosovo' '9,429']
 ['MCO' 153.0 'Monaco' '8,596']
 ['TGO' 154.0 'Togo' '8,126']
 ['SOM' 155.0 'Somalia' '8,126']
 ['BMU' 156.0 'Bermuda' '7,551']
 ['LIE' 157.0 'Liechtenstein' '7,186']
 ['IMN' 158.0 'Isle of Man' '6,684']
 ['MDV' 159.0 'Maldives' '6,190']
 ['GUM' 160.0 'Guam' '6,123']
 ['MNE' 161.0 'Montenegro' '6,096']
 ['PYF' 162.0 'French Polynesia' '6,080']
 ['CYM' 163.0 'Cayman Islands' '6,028']
 ['BRB' 164.0 'Barbados' '5,638']
 ['FJI' 165.0 'Fiji' '4,943']
 ['SWZ' 166.0 'Eswatini' '4,854']
 ['VIR' 167.0 'Virgin Islands (U.S.)' '4,204']
 ['LBR' 168.0 'Liberia' '4,001']
 ['SLE' 169.0 'Sierra Leone' '3,970']
 ['FRO' 170.0 'Faroe Islands' '3,650']
 ['SUR' 171.0 'Suriname' '3,621']
 ['DJI' 172.0 'Djibouti' '3,515']
 ['AND' 173.0 'Andorra' '3,352']
 ['GRL' 174.0 'Greenland' '3,236']
 ['TLS' 175.0 'Timor-Leste' '3,163']
 ['ABW' 176.0 'Aruba' '3,126']
 ['BDI' 177.0 'Burundi' '3,073']
 ['BLZ' 178.0 'Belize' '2,824']
 ['CUW' 179.0 'CuraÃ§ao' '2,700']
 ['LSO' 180.0 'Lesotho' '2,553']
 ['BTN' 181.0 'Bhutan' '2,540']
 ['CAF' 182.0 'Central African Republic' '2,383']
 ['CPV' 183.0 'Cabo Verde' '2,315']
 ['GMB' 184.0 'Gambia, The' '2,273']
 ['LCA' 185.0 'St. Lucia' '2,065']
 ['SMR' 186.0 'San Marino' '1,855']
 ['ATG' 187.0 'Antigua and Barbuda' '1,758']
 ['GNB' 188.0 'Guinea-Bissau' '1,634']
 ['SLB' 189.0 'Solomon Islands' '1,596']
 ['SYC' 190.0 'Seychelles' '1,588']
 ['SXM' 191.0 'Sint Maarten (Dutch part)' '1,572']
 ['GRD' 192.0 'Grenada' '1,256']
 ['COM' 193.0 'Comoros' '1,243']
 ['TCA' 194.0 'Turks and Caicos Islands' '1,139']
 ['VUT' 195.0 'Vanuatu' '984']
 ['KNA' 196.0 'St. Kitts and Nevis' '962']
 ['VCT' 197.0 'St. Vincent and the Grenadines' '949']
 ['MNP' 198.0 'Northern Mariana Islands' '858']
 ['WSM' 199.0 'Samoa' '832']
 ['ASM' 200.0 'American Samoa' '709']
 ['DMA' 201.0 'Dominica' '612']
 ['STP' 202.0 'SÃ£o TomÃ© and Principe' '547']
 ['TON' 203.0 'Tonga' '469']
 ['FSM' 204.0 'Micronesia, Fed. Sts.' '427']
 ['MHL' 205.0 'Marshall Islands' '280']
 ['KIR' 206.0 'Kiribati' '223']
 ['PLW' 207.0 'Palau' '218']
 ['NRU' 208.0 'Nauru' '151']
 ['TUV' 209.0 'Tuvalu' '60']
 ['VGB' nan 'British Virgin Islands' ' -   ']
 ['ERI' nan 'Eritrea' ' -   ']
 ['GIB' nan 'Gibraltar' ' -   ']
 ['PRK' nan "Korea, Dem. People's Rep." ' -   ']
 ['SSD' nan 'South Sudan' ' -   ']
 ['MAF' nan 'St. Martin (French part)' ' -   ']
 ['VEN' nan 'Venezuela, RB' ' -   ']
 ['YEM' nan 'Yemen, Rep.' ' -   ']
 [nan nan nan nan]
 [nan nan nan nan]
 [nan nan nan nan]
 ['WLD' nan 'World' '10,10,02,997']
 [nan nan nan nan]
 [nan nan nan nan]
 ['EAS' nan 'East Asia & Pacific' '3,06,55,246']
 ['ECS' nan 'Europe & Central Asia' '2,51,92,038']
 ['LCN' nan 'Latin America & Caribbean' '67,48,778']
 ['MEA' nan 'Middle East & North Africa' '44,14,423']
 ['NAC' nan 'North America' '2,76,10,091']
 ['SAS' nan 'South Asia' '43,61,631']
 ['SSF' nan 'Sub-Saharan Africa' '20,47,347']
 ['LIC' nan 'Low income' '5,21,634']
 ['LMC' nan 'Lower middle income' '81,09,650']
 ['UMC' nan 'Upper middle income' '3,04,95,972']
 ['HIC' nan 'High income' '6,15,35,769']]

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
sort_df=df.sort_index(axis=0,ascending=False)
print(sort_df)

    Country Name  Ranking              Economy millions of US dollars
233          HIC      NaN          High income            6,15,35,769
232          UMC      NaN  Upper middle income            3,04,95,972
231          LMC      NaN  Lower middle income              81,09,650
230          LIC      NaN           Low income               5,21,634
229          SSF      NaN   Sub-Saharan Africa              20,47,347
..           ...      ...                  ...                    ...
4            IND      5.0                India              33,85,090
3            DEU      4.0              Germany              40,72,192
2            JPN      3.0                Japan              42,31,141
1            CHN      2.0                China            1,79,63,171
0            USA      1.0        United States            2,54,62,700

[234 rows x 4 columns]

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# df["USA"]
print(df.loc[0,"Country Name"])
print(df.loc[[2,3],["Country Name","Economy"]])
print(df.loc[:,["Country Name","Economy"]])
print(df.loc[[2,3],:])

USA
  Country Name  Economy
2          JPN    Japan
3          DEU  Germany
    Country Name              Economy
0            USA        United States
1            CHN                China
2            JPN                Japan
3            DEU              Germany
4            IND                India
..           ...                  ...
229          SSF   Sub-Saharan Africa
230          LIC           Low income
231          LMC  Lower middle income
232          UMC  Upper middle income
233          HIC          High income

[234 rows x 2 columns]
  Country Name  Ranking  Economy millions of US dollars
2          JPN      3.0    Japan              42,31,141
3          DEU      4.0  Germany              40,72,192

In [11]:
import pandas as pd
import numpy as np
import os
import pathlib
import sys
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.iloc[0,2])

United States

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
import sys
import io
import random
# import thread
import seaborn
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.drop("Ranking",axis=1))
# If you want to drop 0'th column just change the axis and column name

    Country Name              Economy millions of US dollars
0            USA        United States            2,54,62,700
1            CHN                China            1,79,63,171
2            JPN                Japan              42,31,141
3            DEU              Germany              40,72,192
4            IND                India              33,85,090
..           ...                  ...                    ...
229          SSF   Sub-Saharan Africa              20,47,347
230          LIC           Low income               5,21,634
231          LMC  Lower middle income              81,09,650
232          UMC  Upper middle income            3,04,95,972
233          HIC          High income            6,15,35,769

[234 rows x 3 columns]

# Handling Missing Values

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys
import re
# dropna and fillna
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# By default it will drop row wise
print(df.dropna())

    Country Name  Ranking           Economy millions of US dollars
0            USA      1.0     United States            2,54,62,700
1            CHN      2.0             China            1,79,63,171
2            JPN      3.0             Japan              42,31,141
3            DEU      4.0           Germany              40,72,192
4            IND      5.0             India              33,85,090
..           ...      ...               ...                    ...
204          MHL    205.0  Marshall Islands                    280
205          KIR    206.0          Kiribati                    223
206          PLW    207.0             Palau                    218
207          NRU    208.0             Nauru                    151
208          TUV    209.0            Tuvalu                     60

[209 rows x 4 columns]

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df)
# axis 0 means along row axis 1 means along column
print(df.dropna(axis=1))

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF      NaN   Sub-Saharan Africa              20,47,347
230          LIC      NaN           Low income               5,21,634
231          LMC      NaN  Lower middle income              81,09,650
232          UMC      NaN  Upper middle income            3,04,95,972
233          HIC      NaN          High income            6,15,35,769

[234 rows x 4 columns]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[234 rows x 0 columns]

In [25]:
import pandas as pd
import numpy as np
import sys
import os
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will remove the rows containing Null values
print(df.dropna(how="any"))

    Country Name  Ranking           Economy millions of US dollars
0            USA      1.0     United States            2,54,62,700
1            CHN      2.0             China            1,79,63,171
2            JPN      3.0             Japan              42,31,141
3            DEU      4.0           Germany              40,72,192
4            IND      5.0             India              33,85,090
..           ...      ...               ...                    ...
204          MHL    205.0  Marshall Islands                    280
205          KIR    206.0          Kiribati                    223
206          PLW    207.0             Palau                    218
207          NRU    208.0             Nauru                    151
208          TUV    209.0            Tuvalu                     60

[209 rows x 4 columns]

In [26]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will remove only NULL rows
print(df.dropna(how="all"))

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF      NaN   Sub-Saharan Africa              20,47,347
230          LIC      NaN           Low income               5,21,634
231          LMC      NaN  Lower middle income              81,09,650
232          UMC      NaN  Upper middle income            3,04,95,972
233          HIC      NaN          High income            6,15,35,769

[229 rows x 4 columns]

In [27]:
import pandas as pd
import numpy as np
import os
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.dropna(subset=["Ranking"]))

    Country Name  Ranking           Economy millions of US dollars
0            USA      1.0     United States            2,54,62,700
1            CHN      2.0             China            1,79,63,171
2            JPN      3.0             Japan              42,31,141
3            DEU      4.0           Germany              40,72,192
4            IND      5.0             India              33,85,090
..           ...      ...               ...                    ...
204          MHL    205.0  Marshall Islands                    280
205          KIR    206.0          Kiribati                    223
206          PLW    207.0             Palau                    218
207          NRU    208.0             Nauru                    151
208          TUV    209.0            Tuvalu                     60

[209 rows x 4 columns]

In [29]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
df.dropna(inplace=True)
print(df)

    Country Name  Ranking           Economy millions of US dollars
0            USA      1.0     United States            2,54,62,700
1            CHN      2.0             China            1,79,63,171
2            JPN      3.0             Japan              42,31,141
3            DEU      4.0           Germany              40,72,192
4            IND      5.0             India              33,85,090
..           ...      ...               ...                    ...
204          MHL    205.0  Marshall Islands                    280
205          KIR    206.0          Kiribati                    223
206          PLW    207.0             Palau                    218
207          NRU    208.0             Nauru                    151
208          TUV    209.0            Tuvalu                     60

[209 rows x 4 columns]

In [32]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
df.dropna(thresh=2)

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF      NaN   Sub-Saharan Africa              20,47,347
230          LIC      NaN           Low income               5,21,634
231          LMC      NaN  Lower middle income              81,09,650
232          UMC      NaN  Upper middle income            3,04,95,972
233          HIC      NaN          High income            6,15,35,769

[229 rows x 4 columns]

In [34]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.fillna("True"))

    Country Name Ranking              Economy millions of US dollars
0            USA     1.0        United States            2,54,62,700
1            CHN     2.0                China            1,79,63,171
2            JPN     3.0                Japan              42,31,141
3            DEU     4.0              Germany              40,72,192
4            IND     5.0                India              33,85,090
..           ...     ...                  ...                    ...
229          SSF    True   Sub-Saharan Africa              20,47,347
230          LIC    True           Low income               5,21,634
231          LMC    True  Lower middle income              81,09,650
232          UMC    True  Upper middle income            3,04,95,972
233          HIC    True          High income            6,15,35,769

[234 rows x 4 columns]

In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will fill every null of "Country Name" with "India" and so on
print(df.fillna({"Country Name":"India","Ranking":1,"Economy":"India","millions of US dollars":23456776}))

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF      1.0   Sub-Saharan Africa              20,47,347
230          LIC      1.0           Low income               5,21,634
231          LMC      1.0  Lower middle income              81,09,650
232          UMC      1.0  Upper middle income            3,04,95,972
233          HIC      1.0          High income            6,15,35,769

[234 rows x 4 columns]

In [38]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# Farward fillling and backward filling
df.fillna(method="ffill")

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF    209.0   Sub-Saharan Africa              20,47,347
230          LIC    209.0           Low income               5,21,634
231          LMC    209.0  Lower middle income              81,09,650
232          UMC    209.0  Upper middle income            3,04,95,972
233          HIC    209.0          High income            6,15,35,769

[234 rows x 4 columns]

In [39]:
import pandas as pd
import numpy as np
import os
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
print(df.fillna(method="bfill"))

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF      NaN   Sub-Saharan Africa              20,47,347
230          LIC      NaN           Low income               5,21,634
231          LMC      NaN  Lower middle income              81,09,650
232          UMC      NaN  Upper middle income            3,04,95,972
233          HIC      NaN          High income            6,15,35,769

[234 rows x 4 columns]

In [44]:
import pandas as pd
import  numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will fill along the column
print(df.fillna(method="ffill",axis=1))

    Country Name Ranking              Economy millions of US dollars
0            USA     1.0        United States            2,54,62,700
1            CHN     2.0                China            1,79,63,171
2            JPN     3.0                Japan              42,31,141
3            DEU     4.0              Germany              40,72,192
4            IND     5.0                India              33,85,090
..           ...     ...                  ...                    ...
229          SSF     SSF   Sub-Saharan Africa              20,47,347
230          LIC     LIC           Low income               5,21,634
231          LMC     LMC  Lower middle income              81,09,650
232          UMC     UMC  Upper middle income            3,04,95,972
233          HIC     HIC          High income            6,15,35,769

[234 rows x 4 columns]

In [43]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will fill along the row
print(df.fillna(method="ffill",axis=0))

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF    209.0   Sub-Saharan Africa              20,47,347
230          LIC    209.0           Low income               5,21,634
231          LMC    209.0  Lower middle income              81,09,650
232          UMC    209.0  Upper middle income            3,04,95,972
233          HIC    209.0          High income            6,15,35,769

[234 rows x 4 columns]

In [45]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
df.fillna(inplace=True)

ValueError: Must specify a fill 'value' or 'method'.

In [46]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will repalce all the Nan with 12
df.fillna(12,inplace=True)
print(df)

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF     12.0   Sub-Saharan Africa              20,47,347
230          LIC     12.0           Low income               5,21,634
231          LMC     12.0  Lower middle income              81,09,650
232          UMC     12.0  Upper middle income            3,04,95,972
233          HIC     12.0          High income            6,15,35,769

[234 rows x 4 columns]

In [54]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
# It will repalce only which is having Nan upto 2 only, we can change that limit
print(df.fillna(10,limit=2))

    Country Name  Ranking              Economy millions of US dollars
0            USA      1.0        United States            2,54,62,700
1            CHN      2.0                China            1,79,63,171
2            JPN      3.0                Japan              42,31,141
3            DEU      4.0              Germany              40,72,192
4            IND      5.0                India              33,85,090
..           ...      ...                  ...                    ...
229          SSF      NaN   Sub-Saharan Africa              20,47,347
230          LIC      NaN           Low income               5,21,634
231          LMC      NaN  Lower middle income              81,09,650
232          UMC      NaN  Upper middle income            3,04,95,972
233          HIC      NaN          High income            6,15,35,769

[234 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r'E:\NotepadPlusPlus\Python\Pandas\GDP.csv')
df.replace(to_)